/Makefile
/Makefile.in
/aclocal.m4
/build-aux/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/k4start
/k5start
/kstart-*
/krenew
/stamp-h1
/tests/data/.placeholder
/tests/data/test.*
/tests/kafs/basic
/tests/portable/asprintf-t
/tests/portable/daemon-t
/tests/portable/mkstemp-t
/tests/portable/setenv-t
/tests/portable/snprintf-t
/tests/portable/strlcat-t
/tests/portable/strlcpy-t
/tests/runtests
/tests/util/concat-t
/tests/util/messages-t
/tests/util/xmalloc
.deps
.dirstamp
*.1
*.a
*.o
