.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
build-aux
config.h
config.h.in
config.h.in~
config.log
config.status
configure
k4start
!k4start/
k5start
!k5start/
krenew
!krenew/
stamp-h1
tests/data/.placeholder
tests/data/test.*
tests/docs/pod-t
tests/docs/spelling-t
tests/k4start/afs-t
tests/k4start/basic-t
tests/k5start/afs-t
tests/k5start/basic-t
tests/k5start/daemon-t
tests/k5start/flags-t
tests/krenew/afs-t
tests/krenew/basic-t
tests/krenew/daemon-t
tests/portable/asprintf-t
tests/portable/daemon-t
tests/portable/mkstemp-t
tests/portable/setenv-t
tests/portable/snprintf-t
tests/portable/strlcat-t
tests/portable/strlcpy-t
tests/runtests
tests/util/concat-t
tests/util/messages-t
tests/util/xmalloc
*.1
*.a
*.o
