.deps
.dirstamp
Makefile
Makefile.in
aclocal.m4
build-aux
config.h
config.h.in
config.h.in~
config.log
config.status
configure
k4start
k5start
krenew
stamp-h1
tests/data/.placeholder
tests/data/test.*
tests/docs/pod-t
tests/docs/spelling-t
tests/k4start/afs-t
tests/k4start/basic-t
tests/k5start/afs-t
tests/k5start/basic-t
tests/k5start/daemon-t
tests/portable/asprintf-t
tests/portable/mkstemp-t
tests/portable/snprintf-t
tests/runtests
tests/util/concat-t
tests/util/messages-t
tests/util/xmalloc
*.1
*.a
*.o
