Source: kstart
Section: net
Priority: optional
Maintainer: Russ Allbery <rra@stanford.edu>
Build-Depends: debhelper (>= 4.0.0), libkrb5-dev, libopenafs-dev [alpha amd64 hppa i386 ia64 powerpc s390 sparc]
Standards-Version: 3.6.1

Package: kstart
Architecture: any
Depends: ${shlibs:Depends}
Description: Kerberos kinit variant supporting ticket refreshing
 k5start (for Kerberos v5) and k4start (for Kerberos v4) can be used
 instead of kinit to obtain Kerberos tickets.  Both programs are included
 in this package.  They are intended primarily for use with automated
 processes and support some additional features useful for that purpose,
 such as running as a daemon and refreshing the ticket periodically,
 checking to see if an existing ticket has expired, or obtaining an AFS
 token along with the ticket by running an external program automatically.
 .
 Homepage: http://www.eyrie.org/~eagle/software/kstart/

