#!/usr/bin/make -f
# -*- makefile -*-
# GNU copyright 1997 to 1999 by Joey Hess.
# Further updates by Russ Allbery <rra@debian.org>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# We need to know the host architecture to determine whether setpag is
# available.
DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

# These architectures are supported by OpenAFS and therefore should get setpag
# support.  Other architectures will not.  This list must be kept in sync with
# debian/control (and probably should be extracted automatically).
AFS_ARCHES = alpha amd64 hppa i386 ia64 powerpc s390 sparc

# Determine whether to attempt setpag support.
ifeq (,$(findstring $(DEB_HOST_ARCH),$(AFS_ARCHES)))
    SETPAG =
else
    SETPAG = --with-afs-setpag
endif

# Set up compiler flags.
CFLAGS = -Wall -g
ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
    CFLAGS += -O0
else
    CFLAGS += -O2
endif

config.status: configure
	dh_testdir
	CFLAGS="$(CFLAGS)" ./configure --prefix=/usr \
	    --mandir=\$${prefix}/share/man --with-aklog=/usr/bin/aklog \
	    $(SETPAG)

build: build-stamp
build-stamp: config.status
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
ifeq (Makefile,$(wildcard Makefile))
	$(MAKE) distclean
endif
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean
	dh_installdirs
	$(MAKE) install prefix=$(CURDIR)/debian/kstart/usr

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs NEWS
	dh_installdocs README
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
.PHONY: build clean binary-arch binary install
